body {
    margin: 0;
    padding: 0;
}
header {
    background-color: #e8a000
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #ffd643
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #719585;}

ul.topnav li a.active {background-color: #5c9700;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
h1 {
color: #8e5d09
text-align: center;
}